 /* geral */
 * {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    padding-top: 50px;
    background-color: black;
}

body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
    background-image: url('./assets/img/logo-foxes-1920.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: auto 100%;
}

header {
    background-color: rgb(50,50,50);
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

nav {
    position: relative;
}

a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

li {
    list-style: none;
}

/* nav */
.nav-itens {
    margin: 0;
    padding: 1em 1em 2em 1em;
    color: rgb(245,245,245);
    float: right;
}

#hd-logo {
    position: absolute;
    top: .5em;
    left: 0;
    float: left;
    height: 75px;
}

/* topo */
#topo {
    width: 98vw;
    height: 100vh;
}

#main-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* notícias */
#noticias {
    rgba(255, 69, 0, .5);
    opacity: 0.95;
    width: 98vw;
    min-height: 100vh;
}

/* footer */
footer {
    opacity: 0.95;
}

.redes-sociais {
    float: right;
}